.young-info {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.young-info h2 {
  font-size: 32px;
  font-weight: 700;
  color: #059d54;
}

.young-info .first-par {
  font-size: 16px;
  font-weight: 700;
  width: 50%;
  margin: 20px 0 40px;
  display: block;
}

.young-info hr {
  height: 5px;
  background-color: #003e21;
  border: none;
  margin-top: 20px;
}
