@import url("fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lexend:wght@100..900&family=Yatra+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  background: linear-gradient(to right, #d3ffe4, #00bfae);
}

.navigation-bar {
  border: 2px;
  margin: 20 px;
  padding: 20 px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background: linear-gradient(to right, #d3ffe4, #00bfae);
  transition: box-shadow 0.3s ease;
  border: none;
  outline: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav {
  background-color: transparent;
}

nav ul {
  list-style-type: none;
  list-style: none;
  margin-right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: Bodoni Moda;
  font-weight: 500;
  font-size: 20px;
  position: relative;
}

nav a:hover {
  border-bottom: 2px solid #004d24;
  color: #004d24;
  background-color: transparent;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999; /* Asigură că este deasupra altor elemente */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar li:first-child {
  margin-left: auto; /* Aliniază primul element la dreapta */
}

.sidebar a {
  width: 100%;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
  background-color: #059d54;
  color: white;
  border-bottom: none;
}

.custom-logo {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #004d24;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #004d24;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #046d3d, #0b814c);
  cursor: pointer;
}

.contact-right img {
  width: 500px;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vh;
  }
  .contact-right {
    display: none;
  }
}
